@import "tailwindcss";

@layer base {
    h3 {
        @apply text-2xl;
        @apply font-bold;
    }
}

.icon-closed {
    display: block;
}

.icon-opened {
    display: none;
}

.btn.active {
    .icon-closed {
        display: none;
    }

    .icon-opened {
        display: block;
    }
}